/* ---- Resets ---- */
*, *::before, *::after {
    box-sizing: border-box;
    /* border: 2px solid red; */
}

/* ---- Global ---- */


body {
    background-image: url("../images/train-landscape.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-weight: bold;
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    
}

h1 {
    padding-top: 2rem;
    margin: 0.625rem 0;
}

h2 {
    font-size: 3.125rem;
    margin: 0 0 1.25rem 0;
}

/* ---- Body ---- */
.title {
    margin: 0;
    padding: 2rem;
    /* background-color: white; */
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border: 5px solid black;
    border-radius: 10px;
    max-width: 80%;
    margin: auto;
    backdrop-filter: brightness(160%);
}



button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.btn {
    text-transform: uppercase;
    cursor: pointer;
    padding: 1rem;
    margin: 1rem;
    font-size: 1.5rem;
}

#increment-btn {
    background: rgb(17, 60, 177);
}  

#save-btn {
    background: rgb(6, 138, 6);
}

#increment-btn:hover,
#save-btn:hover {
    text-decoration: underline;
}
 #save-el {
    font-size: 1.25rem;
 }
/* ---- Footer ---- */
footer {
    background-color: var(--color-main);
    padding: 2rem;
    display: flex;
    justify-content: center;
}

.footer p {
    font-size: 1.5rem;
}

.footer p a {
    color: black;
}
/* ---- Media Queries */

